label {
    display: block;
    margin-top: 1rem;
    padding: 3px;
    border-color: rgb(41, 40, 88);
  }

  body {
    max-width: 960px;
    margin: 1em;
    font-size: 20px;
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;
  }

  input {
    padding-block: 1rem;
    width: -webkit-fill-available;
  }

  p {
    text-size-adjust: auto;
    text-align: justify;
    text-transform: inherit;
    margin-block-start: revert-layer;
    margin-block-end: auto;
}
select#q3 {
    width: it-webkit-fill-availabl;
}
  
  button {
    margin-top: 2rem;
  }