label {
    display: block;
    margin-top: 1rem;
    padding: 3px;
    border-color: rgb(41, 40, 88);
  }

  body {
    max-width: 960px;
    margin: 1em;
    font-size: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-inline-start: auto;
    background: darkturquoise;
  }

  h1 {
    text-align: center;
    color: #1316b875;
  }

  form {
    display: flex;
    justify-content: center;
  }

  input {
    padding-block: 1rem;
    width: -webkit-fill-available;
  }

  input[type="submit"] {
    background-color: cadetblue;
    border-color: crimson;
    font-size: larger;
  }


  p {
    text-size-adjust: auto;
    text-align: justify;
    text-transform: inherit;
    margin-block-start: revert-layer;
    margin-block-end: auto;
}
select#q3 {
    width: -webkit-fill-availabl;
}
  
  button {
    margin-top: 2rem;
  }