/* Add @import for the chosen fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&family=Lobster&display=swap');

  body {
    margin: 1em;
    font-size: 18px;
    text-align: center;
    background-color: azure;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
  }
  header {
    margin: 1px;
    display: grid;
    grid-template-columns: 300px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  header {
    align-items: center;
    background-color: deepskyblue;
  }
  
  .logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
  }
  
  h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
  }
  
  nav {
    text-align: right;
  }
  
  .navigation {
    display: flex;
    list-style: none;
  }
  
  .navigation li {
    flex: 1 1 100%;
  }
  
  .navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
  }
  
  .navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
  }

  header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }
  p {
    font-family: var(--paragraph-font);
    text-align: justify;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
  nav {
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }
  nav  {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    display: flex;
  }
  
  figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220rem;
    margin: auto;
  }
    
  figcaption {
    background-color: white;
    color: black;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
  
  img {
    max-width: 150rem;
    max-height: 132px;
  }
  footer {
    background-color: lightgray;
    padding: 2px 5px;
    margin-top: 10rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

footer a {
    color: #e6e8ec;
    text-decoration: none;
}

footer a:hover {
    color: #022668;
}

footer p {
    font-size: 1rem;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
    display: table-footer-group;
}

.logo {
    width: 80px;
    display: inline-flex;
}

.herodiv {
	margin: 10px auto;
	position: relative;
}

.herodiv img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.stats {
	top: 2px;
	padding: 0.65rem;
	opacity: 0.8;
  text-align: center;
}
.myimages {
  height: 300px;
  float: inline-end;
}

.right {
  float: right;
  background: cyan;
}
aside {
  margin-left: 15px;
  float: right;
}
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.explore {
  background: url(https://adventures.is/media/152263/rafting-in-hvita.jpg); 
  background-size: cover;
  height: 450px;
  width: 100%;
  padding: 75px 0 65px 0;
}


.container {
    padding-right: 15px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
  float: right!important;
}

.explore h2 {
    font-size: 24px;
  }
.explore h2 {
    margin-top: 10px;
    font-size: 32px;
    color: mediumvioletred;
    font-weight: 700;
    padding-bottom: 24px;
}

.explore h3 {
    font-size: 36px;
    line-height: 30px;
}
.explore h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 24px;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px #000;
    line-height: 40px;
}

.text-center {
  text-align: center;
}

a.btn-warning {
  text-decoration: none;
}
.review-wrap a {
  color: #fff;
}

.btn-warning {
  text-decoration: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  user-select: none;
}
#feature-home {
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
}
.row-gray {
  background-color: #EDEDED;
  padding: 20px 0px;
}

#feature-home {
  padding-bottom: 50px;
  padding-top: 50px;
}

.row-gray {
  background-color: #EDEDED;
  padding: 20px 0px;
  background-clip: padding-box;
}

body > section {
  padding: 70px 0;
}

.row-gray .rounded-box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 1px 8px -2px #333;
  border: none;
  min-height: 200px;
  padding: 10px 20px;
}

.col-sm-4 {
  position: relative;
  padding-bottom: 20px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.review-wrap, .hero-wrap {
  background: rgba(0,0,0,0.4);
  border: 1px solid #444;
  border-radius: 4px;
  color: #fff;
  padding: 15px;
  float: right;
  font-style: italic;
}

.review-wrap a {
  color: black;
  font-size: xx-large;
  background-color: crimson;
  font-weight: bolder;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}