/* Add @import for the chosen fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&family=Lobster&display=swap');

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
font {
    font-weight: 100;
    font-style: italic;
    font-family: cursive;
}
font-color {
    color: brown;
}
aside {
    width: 20em;
    text-align: center;
}