@import url(https:fonts.googleapis.com/css?family=OpenSans);
body{
    font-family: 'open Sans',serif;
}
:root {
    background: rebeccapurple;
}
body {
    color: black;
}
h1 {
    color: blueviolet;
}
a {
    text-decoration: none;
}
html {
    max-width: 1200px;
    margin: auto;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}