@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&family=Lobster&display=swap');

body {
  margin: 1em;
  font-size: 18px;
  text-align: center;
  background-color: azure;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  text-align: center;
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  margin: 1px;
  display: grid;
  grid-template-columns: 300px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
header {
  align-items: center;
  background-color: deepskyblue;
}

.logo img {
  margin: 0 0.25rem 0 1rem;
  width: 64px;
  height: auto;
}


* {
  margin: 1px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: steelblue;
  padding: 5px;
}
nav a {
  color: rgba(6, 11, 15, 0.548);
  padding: 20px;
  display: block;
}

h1 {
  color: blue;
  padding: 5px;
  border-bottom: outset;
  border-right-color: darkturquoise;
}


main {
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  box-shadow: 0 0 30px lightgreen;
  float: right;
  margin: 0 0 1rem 1rem;
}

p {
  margin: 1rem;
}

aside {
  width: 20rem;
  text-align: center;
}

aside img {
  width: 300px;
  height: auto;
}

footer {
  margin: 25px;
  border-top: 1px solid #2b0a0a;
  text-align: center;
}

/* class selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 5px;
  background-color: rgb(131, 186, 231 / 13%);
  color: #000;
}

.indent {
  padding-left: 1rem;
}

header, footer {
  max-width: 840rem;
  margin: auto;
}

nav {
  background-color: hsl(227.08deg 51.4% 51.6% / 85%);
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
}

.grid {
  display: grid;
  align-items: center;    
}

main {
  grid-column: 2/3;
  margin: 1px;
}

aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}