
/* new design */
header {
  margin: 1px;
  display: grid;
  grid-template-columns: 300px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

header {
  align-items: center;
  background-color: deepskyblue;
}

.logo img {
  margin: 0 0.25rem 0 1rem;
  width: 64px;
  height: auto;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #4e4e4e;
    line-height: 22px;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}
body {
    margin: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
body {
    display: block;
    margin: 8px;
}

injected stylesheet
:host, :root {
    --rem: 16;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.explore {
  background: url(https://uttarakhandtourism.gov.in/sites/default/files/2020-06/River%20Rafting_1376979458%20%281%29.jpg); 
  background-repeat: no-repeat center center;
  background-size: cover;
  height: 450px;
  width: 100%;
  padding: 75px 0 65px 0;
}


.container {
    padding-right: 15px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.pull-right {
  float: right!important;
}

.explore h2 {
    font-size: 24px;
  }
.explore h2 {
    margin-top: 10px;
    font-size: 32px;
    color: #86E40E;
    font-weight: 700;
    text-shadow: 2px 2px #000;
    padding-bottom: 24px;
}

.explore h3 {
    font-size: 36px;
    line-height: 30px;
}
.explore h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 24px;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px #000;
    line-height: 40px;
}

.text-center {
  text-align: center;
}

a.btn-warning {
  text-decoration: none;
}
.review-wrap a {
  color: #fff;
}

.btn-warning {
  text-decoration: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav {
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  display: flex;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220rem;
  margin: auto;
}
  
figcaption {
  background-color: white;
  color: black;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

img {
  max-width: 150rem;
  max-height: 132px;
  float: inline-end;
}
footer {
  background-color: lightgray;
  padding: 2px 5px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}


.col-sm-4 {
  position: relative;
  padding-bottom: 20px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.review-wrap, .hero-wrap {
  background: rgba(0,0,0,0.4);
  border: 1px solid #444;
  border-radius: 4px;
  color: #fff;
  padding: 15px;
  float: right;
  font-style: italic;
}

.review-wrap a {
  color: black;
  font-size: xx-large;
  background-color: crimson;
  font-weight: bolder;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.text-center {
  text-align: center;
}

#new-trips {
  font-family: Arial, Helvetica, sans-serif;
}

#new-trips td, #new-trips th {
  border: 1px solid #ddd;
  padding: 8px;
}

#new-trips tr:nth-child(even){background-color: #f2f2f2;}

#new-trips tr:hover {background-color: #ddd;}

#new-trips th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
#feature-home {
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
}
.row-gray {
  background-color: #EDEDED;
  padding: 20px 0px;
}

#feature-home {
  padding-bottom: 50px;
  padding-top: 50px;
}

.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
}

.row-gray {
  background-color: #EDEDED;
  padding: 20px 0px;
  background-clip: padding-box;
}
@media (max-width: 767px)
body > section {
  padding: 30px 0;
}
body > section {
  padding: 70px 0;
}

.row-gray .rounded-box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 1px 8px -2px #333;
  border: none;
  min-height: 200px;
  padding: 10px 20px;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

user agent stylesheet
div {
  display: block;
}
@media (max-width: 767px)
body {
  font-size: 16px;
}

.herodiv {
	margin: 10px auto;
	position: relative;

}

.herodiv {
  color: blue;
  background-color: darkkhaki;
}

.herodiv img {
	height: 100%;
	object-fit: cover;
  float: left;
}


