/* Add @import for the chosen fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&family=Lobster&display=swap');

:root {
    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: Georgia, serif;
  }
  
  body {
    margin: 1em;
    font-size: 18px;
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
  h2 {
    text-align: center;
  }
  hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
  }
  header {
    margin: 1px;
    display: grid;
    grid-template-columns: 300px 1fr 2fr;
    border-bottom: 1px solid #ccc;
  }
  header {
    align-items: center;
    background-color: lightgray;
  }
  
  .logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
  }
  
  h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
  }
  
  nav {
    text-align: right;
  }
  
  .navigation {
    display: flex;
    list-style: none;
  }
  
  .navigation li {
    flex: 1 1 100%;
  }
  
  .navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
  }
  
  .navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
  }

  header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }
  p {
    font-family: var(--paragraph-font);
  }
 
  nav {
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }
  nav  {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    display: flex;
  }
  
  figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220rem;
    margin: auto;
  }
  
  img {
    max-width: 220px;
    max-height: 150px;
  }
  
  img {
    max-width: 150rem;
    max-height: 132px;
  }
  footer {
    background-color: lightgray;
    color: black;
    padding: 2px 5px;
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
    display: table-footer-group;
}

.logo {
    width: 80px;
    display: inline-flex;
}

.herodiv {
	margin: 10px auto;
	position: relative;
}

.herodiv img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.stats {
	position: absolute;
	top: 2px;
	padding: 0.65rem;
	opacity: 0.8;
  text-align: center;
}
.myimages {
  width: 400px;
  height: 300px;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}