* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    padding: 20px;
    display: block;
}

h1 {
    color: rgba(31, 17, 223, 0.733);
    padding: 5rem;
}


main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px lightgreen;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: red;
    background-color: steelblue;
    color: black;
    text-align: center;
}

aside img {
    width: 300px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {padding: 0;}

footer {
    margin: 25px;
    border-top: 1px solid #2b0a0a;
    text-align: center;
}