* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {color: steelblue;}
img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 5px solid rgba (0,0,0,.1);
    padding: 1rem;
    background-color: green;
    color: light blue;
}

aside {
    width: 150em;
    text-align: center;
}
